@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0');
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

:root {
    --accent: #1e66f5;
    --accent-50: #1e66f54c;

    --red: #bf616a;
    --red-50: #bf616a75;
    --green: #a3be8c;
    --text: #4c4f69;
    --subtext1: #5c5f77;
    --subtext0: #6c6f85;
    --overlay2: #7c7f93;
    --overlay1: #8c8fa1;
    --overlay0: #9ca0b0;
    --surface2: #acb0be;
    --surface1: #bcc0cc;
    --surface0: #ccd0da;
    --base: #ffffff;
    --mantle: #f3f3f3;
    --crust: #dce0e8;
}

[data-theme='dark'] {
    --accent: #3b82f6;
    --accent-50: #3b82f650;

    --red: #ef4444;
    --red-50: #ef444480;
    --green: #22c55e;
    --text: #ffffff;
    --subtext1: #d1d5db;
    --subtext0: #9ca3af;
    --overlay2: #6b7280;
    --overlay1: #4b5563;
    --overlay0: #374151;
    --surface2: #1f2937;
    --surface1: #18181b;
    --surface0: #0b0b0b;
    --base: #0a0a0a;
    --mantle: #0d0d0d;
    --crust: #1d1d1d;
}

body {
    margin: 0;
    font-family: 'Stack Sans Text', sans-serif;
    background-color: var(--base);
    color: var(--text);
    accent-color: var(--accent);
}

::selection {
    background-color: var(--accent-50);
}

a {
    text-decoration: none;
    color: inherit;
}

hgroup {
    margin: 0;
}

.link {
    color: var(--accent);
    text-decoration: underline;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

hr {
    border: 1px solid var(--crust);
    border-bottom: none;
}

thead {
    text-align: left;
}

hgroup :nth-child(1) {
    margin-top: 0;
}

hgroup:not(:nth-child(1)) {
    margin-top: 2rem;
}

button {
    all: initial;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-block: 0.75rem;
    padding-inline: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--accent);
    color: var(--base);
    cursor: pointer;
    transition: 0.05s;
}

button:hover {
    filter: brightness(105%);
}

button:disabled {
    background-color: var(--accent-50);
    cursor: not-allowed;
}

button:focus, input:focus {
    outline: 4px solid var(--accent-50);
    transition: 0.05s;
}

button .material-symbols-rounded {
    font-size: inherit;
    transform: scale(150%);
}

.buttons {
    display: flex;
    gap: 0.25rem;
}

button.secondary {
    background: none;
    color: var(--accent);
    outline: none !important;
}

button.compact {
    padding-inline: 0.5rem;
}

button.white {
    background-color: var(--mantle);
    color: var(--text);
    outline-color: var(--surface0);
}

button.white.secondary {
    background: none;
    color: var(--text);
}

button.red {
    background: var(--red);
    color: var(--base);
    outline-color: var(--red-50);
}

button.red.secondary {
    background: none;
    color: var(--red);
}

.dialog {
    z-index: 999;
    padding: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: calc(100vw - 2rem);
    height: calc(100vh - 2rem);
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(0.5rem);
    border: 0;
}

.dialog__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: auto;
    max-width: 80vh;
    height: auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--base);
}

.dialog__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.dialog__title {
    margin: 0;
}

.hidden {
    display: none !important;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
}

.pills {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.alert {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1rem;
    background-color: var(--base);
    border-radius: 0.5rem;
    border: 1px solid var(--crust);
    box-shadow: 0px 4px 6px 0.25px var(--surface0);
}

.alert--success {
    background-color: var(--green);
    color: var(--base);
    border: none;
}

.alert--error {
    background-color: var(--red);
    color: var(--base);
    border: none;
}

.material-symbols-rounded {
    user-select: none;
    pointer-events: none;
}

.uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    padding: 5rem;
    border-radius: 0.5rem;
    border: 3px dashed var(--crust);
}

.uploader--hover {
    border-color: var(--accent);
}

.uploader__title {
    margin: 0;
}

.uploader__icon {
    font-size: 3rem;
}

.stat, .card {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--crust);
}

.stat__value {
    margin: 0;
}

.card__title {
    margin-bottom: 0;
}

.card__text {
    margin-top: 0;
}

.chart {

}

@keyframes skeleton--animation {0% { background-position: -400px 0; } 100% { background-position: 400px 0; }}
.skeleton {
    background: linear-gradient(90deg, var(--mantle) 20%, var(--crust) 50%, var(--mantle) 80%);
    background-size: 800px 100%;
    animation: skeleton--animation 1.4s linear infinite;
    color:transparent;
}

.file__mobile-context {
    display: none;
}

.files__head {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.files__search {
    width: 100%;
    height: 100%;
    padding-block: 0;
}

.files__title {
    margin: 0;
    min-width: fit-content;
}

.files--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.files--table {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--crust);
}

.file--cell {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0.25rem;
    aspect-ratio: 1;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--crust);
}

.file__actions--cell {
    display: none;
    position: absolute;
    margin: 0.25rem;
    border-radius: 0.5rem;
    background-color: var(--mantle);
    border: 1px solid var(--crust);
    box-shadow: 0px 2px 2px var(--surface0);
}

.file--cell:hover .file__actions--cell {
    display: initial;
}

.file__thumbnail--cell {
    grid-row: 4 span;
    border-radius: 0.5rem;
    background-position: center;
    background-size: cover;
}

.file__data--cell {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file__title--cell h2 {
    margin: 0;
}

.file__title--cell input { display: none; width: calc(100% - 4px); padding: 0; text-align: center; font-size: 1.33rem; }
.file__title--cell:hover h2, .file__title--cell:has(input:focus) h2 { display: none; }
.file__title--cell:hover input, .file__title--cell input:focus { display: block; }

.file--row {
    border-bottom: 1px solid var(--surface0);
}

.file--row td {
    padding-block: 1rem;
}

td:has(.file__icon) {
    width: 32px;
}

.file__title--row {
    max-width: 100px;
    padding-right: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file__title--row input { display: none; padding: 0; width: 100%; }
.file__title--row:hover span, .file__title--row:has(input:focus) span { display: none; }
.file__title--row:hover input, .file__title--row input:focus { display: block; }

.file-jobs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.file-job {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: calc(100% - 2rem);
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--mantle);
}

.file-job__head {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.file-job__data {
    width: 100%;
    overflow-x: hidden;
}

.file-job__title {
    margin: 0;
}

.file-job__progress {
    width: 100%;
}

.file-job__result {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.file-job__url {
    width: 100%;
}

.file-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-inline: auto;
    text-align: center;
    width: 100%;
    max-width: 800px;
    padding: 2rem;
}

.file-page__details {
    margin: 0.1rem;
}

.file-page__media {
    max-width: 90%;
    max-height: 60vh;
    object-fit: contain;
}

.file-page__text {
    width: 100%;
    height: 100%;
}

.file-page__jukebox {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--crust);
}

.jukebox__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.jukebox__source {
    width: 100%;
}

@keyframes file-page__cd--spin {0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); }}
.file-page__cd {
    height: 20rem;
    color: var(--accent);
    animation: file-page__cd--spin 8s linear infinite;
}

.storage__head {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.storage__value {
    margin: 0;
}

.storage__progress {
    width: 100%;
    outline: none;
}

.settings {
    display: grid;
    gap: 1rem;
}

.settings__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 4rem;
}
.settings__text * {margin: 0;}

.sidebar__head {
    margin-block: 0.25rem;
}
.sidebar__head * {margin: 0;}

.sidebar__nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sidebar__nav:nth-child(1) {
    overflow-y: auto;
}

.sidebar__button, .navbar__button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.15s;
}

.dashboard__navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__button {
    width: auto !important;
}

.sidebar__button:not(.sidebar__button--active):hover, .navbar__button:hover {
    background-color: var(--crust);
}

.sidebar__button--active {
    background-color: var(--base);
    color: var(--accent);
    box-shadow: 0px 4px 6px 0.25px var(--surface0);
}

main {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.center {
    justify-content: center;
    align-items: center;
}

.web-file {
    max-width: 800px;
}

.web-error {
    flex-direction: column;
    max-width: 300px;
    text-align: center;
}

.login {
    height: min-content;
    max-width: 400px;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--crust);
    background-color: var(--mantle);
}

.login__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__header, .login__alert {
    margin-bottom: 1rem;
}

.login__title {
    margin: 0;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding-inline: 0;
    gap: 1.5rem;
    border: 0;
}

.form__control {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.form__icon {
    font-size: 2rem;
}

.form__input {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.25rem;
}

input, select, textarea {
    font-family: inherit;
    color: var(--text);
    font-size: 1rem;
    padding: 0.75rem;
    min-height: 1.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--crust);
    background-color: var(--mantle);
    transition: 0.1s;
}

[type="color"] {
    min-height: 4rem;
}

input:read-only, .file-job__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

input:focus {
    border: 1px solid var(--accent);
}

.input__password-strength {
    display: flex;
    width: 100%;
    height: 8px;
    gap: 0.25rem;
}

.strength-indicator {
    height: 100%;
    width: 100%;
    border-radius: 999px;
}

.dashboard__sidebar {
    overflow: hidden;
    position: sticky;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-height: calc(100vh - 6rem);
    max-width: 12rem;
    margin: 2rem;
    padding: 1rem;
    margin-right: 0;
    transition: transform 0.2s, margin-inline 0.2s, max-width 0.2s;
    border-radius: 0.5rem;
    border: 1px solid var(--crust);
    background-color: var(--mantle);
}

.dashboard__sidebar--collapsed {
    margin-inline: 0;
    transform: translateX(-800%);
    max-width: 0;
}

#mobileMenu {
    display: none;
}

.dashboard__root {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin: 2rem;
}

.dashboard__content {
    height: 100%;
    border-radius: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

article {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    .files__header--table, .file__date--row {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #mobileMenu {
        display: initial;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .file__actions--cell {
        display: initial !important;
    }

    .file__mobile-context {
        display: initial;
    }

    .files--grid .buttons a:not(.file__mobile-context),
    .files--grid .buttons button:not(.file__mobile-context),
    .files--table .buttons button:not(.file__mobile-context) {
        display: none;
    } 

    .files__title {
        display: none;
    }

    .setting__title {
        margin: 0;
    }

    .dashboard__root {
        margin-inline: 1.5rem;
    }

    .dashboard__sidebar {
        z-index: 99;
        position: fixed !important;
        top: 0;
        left: 0;
        min-height: calc(100% - 2rem);
        margin: 0;
        padding: 1rem;
        box-shadow: 0px 0px 5px var(--surface0);
        border-radius: 0;
    }
}

@media screen and (max-width: 550px) {
    .file__title--row {
        max-width: 60px;
    }

    .sidebar__button {
        padding: 0.5rem;
    }
}