<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kokot host</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/mithril/mithril.js"></script>
    <script src="/static/js/index.js"></script>

    <script src="/static/components/Language.js"></script>
    <script src="/static/components/Theme.js"></script>

    {% if current_user and current_user.role >= 0 %}
        <script src="/static/components/user/Files.js"></script>
        <script src="/static/components/user/Integrations.js"></script>
        <script src="/static/components/user/Settings.js"></script>
        <script src="/static/components/user/Uploader.js"></script>
        <script src="/static/components/user/Home.js"></script>

        {% if current_user.role >= 1 %}
            <script src="/static/components/admin/Admin.js"></script>
        {% endif %}

        <script src="/static/pages/user/Dashboard.js"></script>
    {% endif %}

    <script src="/static/pages/Login.js"></script>
    <script src="/static/pages/Error.js"></script>
</head>
<body>
    {% block content %}<script src="/static/js/App.js"></script>{% endblock %}
</body>
</html>