<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>File - {{ file.filename }}</title>

    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/static/css/global.css">
    <script src="/static/js/index.js"></script>

    {% if file.mimetype.startswith('image') %}
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:image" content="{{ file.get_url_raw() }}">
        <meta property="og:image" content="{{ file.get_url_raw() }}">
    {% endif %}
                                  
    {% if uploader.get_settings().get('embed_color') %}
        <meta name="theme-color" content="{{ uploader.get_settings().get('embed_color') }}">
    {% endif %}

    {% if embed_sitename %}
        <meta property="og:site_name" content="{{ embed_sitename }}">
    {% endif %}

    {% if embed_authorname %}
        <meta property="og:author" content="{{ embed_authorname }}">
    {% endif %}

    {% if embed_description%}
        <meta property="og:description" content="{{ embed_description }}">
    {% endif %}

    {% if embed_title %}
        <meta property="og:title" content="{{ embed_title }}">
    {% endif %}
</head>
<body>
    <main>
        <section class="file-page">
            {% if file.mimetype.startswith('image') %}
                <h1>{{ file.filename }}</h1>
                <img src="{{ file.get_url_raw() }}" class="file-page__media">
            {% elif file.mimetype.startswith('video') %}
                <h1>{{ file.filename }}</h1>    
                <video class="file-page__media" controls>
                    <source src="{{ file.get_url_raw() }}">
                    Your browser does not support the video tag.
                </video>
            {% elif file.mimetype.startswith('audio') %}
                <div class="file-page__jukebox">
                    <svg class="file-page__cd" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><!-- Icon from Lucide by Lucide Contributors - https://github.com/lucide-icons/lucide/blob/main/LICENSE --><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="12" cy="12" r="10"/><path d="M6 12c0-1.7.7-3.2 1.8-4.2"/><circle cx="12" cy="12" r="2"/><path d="M18 12c0 1.7-.7 3.2-1.8 4.2"/></g></svg>
                    <h1 class="jukebox__title" title="{{ file.filename }}">{{ file.filename }}</h1>
                    <audio class="jukebox__source" controls>
                        <source src="{{ file.get_url_raw() }}">
                        Your browser does not support the audio tag.
                    </audio>
                </div>
            {% elif file.mimetype.startswith('text') %}
                <h1>{{ file.filename }}</h1>
                <textarea class="file-page__text" id="text-preview" readonly></textarea>
                <script>
                    const preview = document.querySelector('#text-preview')
                    fetch('{{ file.get_url_raw() }}').then(data => data.text()).then(resp => {
                        preview.textContent = resp
                    })
                </script>
            {% else %}
                <h1>{{ file.filename }}</h1>
                <p>Unable to generate preview</p>
            {% endif %}

            <ul class="file-page__details">
                <li>{{ file.uploaded_at }}</li>
                <li>
                    @{{ uploader.get_display_name() }}
                    {% if uploader.get_discord_link() %}
                    <span title="This user is verified" class="material-symbols-rounded file-page__badge">
                        verified
                    </span>
                    {% endif %}
                </li>
                <li>{{ file.get_views() }} view(s)</li>
            </ul>
            <div class="buttons">
                <a href="{{ file.get_url_raw() }}">
                    <button>Download ({{ file.size_mb }}MB)</button>
                </a>
            </div>

            <small>Go back to <a class="link" href="/">the dashboard</a></small>
        </section>
    </main>
</body>
</html>